# Rust API
psui-api/target/
psui-api/Cargo.lock

# Python API
radioapi/radio_api/
radioapi/venv/
radioapi/dist/
radioapi/build/
radioapi/radioapi.egg-info/

# All python caches
**/__pycache__
**/.mypy_cache

# Work space config
.vscode/

# Ignore the mission output
**/mission.log