#container {
    position: fixed;
    margin: 0;
    padding: 0;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #585858;
}

.testModeWarning {
    background-color: red;
    text-align: center;
    font-weight: 700;
    height: 5%;
}

#leftPanel {
    float: left;
    width: 50%;
    height: 65%;
    /* background-color: bisque; */
}

#timerContainer {
    height: 25%;
}

/* 
 * Consider making additional Controls its own prop with 
 * objects passed as props for buttons 
 */
.additionalControls {
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
}

.additionalControlButton {
    border: none;
    background-color: #ffbc12; /* logo color (if want an exact match) is #c28e0e */
    width: 100%;
}

#rightPanel {
    float: left;
    width: 50%;
    height: 65%;
    /* background-color: aquamarine; */
}

#logoPanel {
    position: relative;
    width: 85%;
    height: 50px;
    margin: auto;
}

#logoPanel img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#graphPanel {
    float: left;
    width: 100%;
    /* background-color: lightcoral; */
}

.graphPanelNormal {
    height: 35%;
}

.graphPanelTest {
    height: 30%;
}

#graphPanelMini {
    float: left;
    margin-bottom: 1%;
    width: 100%;
    height: 15%;
    /* background-color: lightcoral; */
}
