#GraphSelectorDiv {
  position: relative;
  height: 100%;
  width: auto;
  border: 3px solid yellow;
}

#GraphContainer {
  position: relative;
  border: 3px solid green;
}

#FormContainer {
  position: absolute;
  text-align: center;
  bottom: 10px;
  height: auto;
  width: 100%;
  border: 3px solid purple; 
}