.DataTableContainer {
  padding-top: 10px;
}

.DataTable {
  width: 70%;
  margin: auto;
}

.LabelCol {
  width: 35%;
}

.ValueCol {
  text-align: right;
}

table, td, th {
  border-collapse: collapse;
  border: 1px solid black;
}

.DarkRow {
  background-color: #dddddd;
}

