/* Style the Label of the Timer */
.TimerContainer {
  margin: auto;
  width: 80%;
}

.TimerLable { 
  background-color: #969694;
}

/* Style the Counting part of the Timer */
.TimerClock {
  color: white;
  background-color: #1e1e1e;
}

