.TimerContainer {
  position: relative;
  display: flex;
  margin: auto;
  width: 80%;
  height: 50%;
  margin-bottom: 5px;
}

/* Style the Label of the Timer */
.TimerLabelContainer {
  position: relative; 
  flex: 1;
  display: flex;
  background-color: #969696;
  align-items: center;
}

.TimerLabelElement {
  margin: auto;
  font-size: 22px;
}

/* Style the Counting part of the Timer */
.TimerClockContainer {
  position: relative;
  flex: 1;
  display: flex;
  background-color: #1e1e1e;
  text-align: center;
  font-size: 22px;
}

.TimerClockElement {
  margin: auto;
  color: white;
}

