#container {
    position: fixed;
    margin: 0;
    padding: 0;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#leftPannel {
    float: left;
    width: 50%;
}

#rightPannel {
    float: left;
    width: auto;
    height: 50%;
}
