.TimerContainer {
  position: relative;
  display: flex;
  margin: auto;
  width: 85%;
  height: 50%;
  margin-top: 5px;
}

/* Style the Label of the Timer */
.TimerLabelContainer {
  position: relative; 
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  background-color: #969696;
  border: 1px solid black;
}

.TimerLabelElement {
  margin: auto;
  font-size: 22px;
}

/* Style the Counting part of the Timer */
.TimerClockContainer {
  position: relative;
  flex: 1;
  display: flex;
  text-align: center;
  font-size: 22px;
  border-radius: 0px 5px 5px 0px;
  background: black;
  border: 1px solid black;
}

.TimerClockElement {
  margin: auto;
  color: white;
}

.TimerClockContainerPastTime {
  background-color: rgb(145, 0, 0);
}

.TimerClockContainerWithinTime {
  background-color: rgb(0, 110, 0);
}

